
body {
	font-family: 'Arial';
	padding: 0;
	margin: 0;
	background: #000 url(i/WallpaperForSite.jpg);
	background-size: 100%;
}


.header{
	padding: 10px;
	border: 1px rgb(0, 0, 0);
	background: black;
	color: white;
	width: 100%;
	margin: 0 auto;
	font-size: 150%;
	
	
}

.container {
	text-align: center;
}

.container a {
	color: white;
	text-decoration: none;
}
.container a:hover {
	color: rgb(0, 128, 4);
}


.menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 120%;

	color: rgb(255, 255, 255);
	background-color: rgb(77, 77, 77);
	}

.menu a{
	padding: 10px;
	width: 33%;
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
}

.menu a:hover {
	background-color: rgb(177, 177, 177);
	color:rgb(255, 255, 255);
}

.menu a + a {
	border-left: 1px solid rgb(0, 0, 0);
}

.mainText {
	margin: 10px;
	padding: 10px;
	background-color: rgb(181, 181, 181);
	border-radius: 25px;
	color:rgb(0, 0, 0)
}

.myPic {
	width: 33%;
	float:left;
	margin: 7px 7px 7px 0;
}

.main-block {
	width: 550px;
	height: 550px;
	background-color: rgb(181, 181, 181, 0.9);
	margin: 30px;
	border-radius: 55px;
	font-size: 100%;
}

.main-block h1 {
	display: block;
	padding: 30px;
	text-align: center;
	color:black;
}

.main-block a {
	text-decoration: none;
}

.contact-block {
	width: 550px;
	height: 550px;
	background-color: rgb(181, 181, 181, 0.9);
	margin: 30px;
	border-radius: 55px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: flex-start;
}

.contact-block a {
	display: inline-block;
	margin: 60px;
}

.first-block {
	display: flex;
	flex-direction: column;
}

.main-construction{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.portfolio {
	width: 550px;
	height: 1160px;
	background-color: rgb(181, 181, 181, 0.9);
	margin: 30px;
	border-radius: 55px;
}

.data-portf {
	width: 550px;
	height: 350px;
	border-top-left-radius: 55px;
	border-top-right-radius: 55px;
	background-color: rgb(255, 255, 255);
}

