.dark-logo {
    width: 22px;
}

.GA {
	margin: 30px;
	width: 300px;
}

.vk {
	width: 150px;
}

.my-pic {
	width: 100%;
	border-top-left-radius: 55px;
	border-top-right-radius: 55px;
}

.menu-icon {
    height: 25px;
}